* {
    padding:0;
    margin: 0;
    border: 0;
}
/*---CSS GENERAL---*/
/*---NAV---*/
nav a:hover, nav a:focus {
    background-color:rgb(83, 83, 83)  ;
    text-decoration: black;
}
nav a {
    text-decoration: none; 
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    background-color: grey ;

    color: black;
}
/*---HEADER---*/
.encabezado {
    background-color: black;
    background-image: url(../img/portada-principal\ \(2\).jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    
    color: rgb(148, 148, 148);
}


/*----MAIN---*/
.menu a {
    text-decoration: none;

}

.menuprincipal {
    background-color: black;
    background-image: url(../img/background.jpg) ;
    background-size: 100%;
}

/*---FOOTER---*/
footer {
    background-color: black;
    color: white;
    margin: auto;
    list-style-type: none;
    text-align: center;
}
/*---FIN CSS GENERAL---*/

/*---CSS 320PX---*/
@media all and (min-width: 320px) {
    #historia {
        column-count: 1;
    }
    .encabezado {
        height: 24vh;
        padding-top: 4em;
        margin: auto;
        text-align: center;
    }
    #contenedor-menu {
        display: flex;
        flex-direction: column;
    }
    /*---Menú---*/
    #contenedor-menu #desplegar {
        width: 9vw;
    }
    #contenedor-menu #ocultar {
        width: 10vw;
    }
    #contenedor-menu #ocultar {
        display: none;
    }
    #contenedor-menu:target #ocultar {
        display: block;
    }
    #contenedor-menu:target #desplegar {
        display: none;
    }
    #contenedor-menu #contenedor-enlaces  {
        height: 0;
        overflow: hidden;
        transition: 3s ease;
    }
    #contenedor-menu:target #contenedor-enlaces {
        background-color: rgb(153, 0, 0);
        display: flex;
        flex-direction: column;
        height: 58vh;
        justify-content: center;
    }
    #contenedor-enlaces li {
        margin-top: 2em;
        text-align: center;
        vertical-align: middle;
        background-color: white;
    }
    #contenedor-enlaces li a:hover,
    #contenedor-enlaces li a:focus {
        color: black;
    }
    
    /*---Fin del Menú---*/
    /*---CSS INICIO---*/
    .texto{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        width: 5em;
        border: 0.2em groove #972727;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.7em;
        margin: auto;
        background-color: #ffffffc9;
        resize: horizontal;
        text-align: middle ;

}
    .menuprincipal p {
        margin: auto;
        padding: 0.5em;
        border:solid #972727;
        background-color: rgba(0, 0, 0, 0.658);
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3em;
        color: white;
    }
    #articuloinicio1 img {
        width: 70%;
        margin: auto;
        display: flex;
    }
    #articuloinicio2 video {
        width: 70%;
        margin: auto;
        display: flex;
    }
    #articuloinicio1 img {
        width: 90%;
        
    }
    #articuloinicio2 video {
        width: 90%;
    }
    /*---Fin del Inicio---*/
    /*---CSS TABLAS---*/
    Table {
        width: 90%;
        margin: auto;
        font-size: 1.3em;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.7rem;
        background-color: rgba(75, 75, 75, 0.568);
        box-shadow: 0em 0.1em 0.1em black;
        border: solid rgba(128, 128, 128, 0.685) 0.1rem;
        color: white;
    }
    table td {
        padding: 0.3em 0.3em 0.3em 0;
        border-right: 0;
    }
    table img {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
    }
    .tablaencabezados {
        display: none;
    }
    td:nth-of-type(1):before {
        content: "Portadas:"
    }
    td:nth-of-type(2):before {
        content: "Nombre:"
    }
    td:nth-of-type(3):before {
        content: "Fecha de lanzamiento:"
    }
    td:nth-child(odd):before, td:nth-child(even):before {
        margin: 0.5em;
        padding: 0.3em;
        background-color: black;
    }
    /*---FIN CSS TABLAS---*/
    /*---CSS FORMULARIO---*/
    form {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin:auto;
        padding: 1em;
        background-color: rgba(66, 66, 66, 0.63);
        color: white;
        justify-content: left;
    }
    label {
        justify-content: center;
    }
    label, input {
        display: flex;
        margin: auto;
        width: 75%;
        
        flex-direction: column;
        
    }
    input {
        border: rgb(143, 18, 18) 0.1em;
        border-style: solid;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        justify-content: center;

    }
    
    fielset, input {
        display: flex;
        padding: 0.5em;
        margin: 0.5em;
        flex-wrap: wrap;
    }
    
    /*---FIN CSS FORMULARIO---*/
    /*---CSS GALERIA---*/
    .articulogaleria {
        margin: auto;
    }
    .fanarts {
        padding: 2em;
        width: 80%; 
    }
    
    /*---FIN CSS GALERIA---*/
}
/*---FIN CSS 320PX---*/

/*---CSS 768px---*/
@media all and (min-width: 768px) {
    #historia {
        column-count: 2; 
    }
    nav a {
        font-size: 1em;
        padding: 0.2em;
    }
    #contenedor-enalces li{
        margin-top: 4em;
        height: 0;
    }
    .encabezado {
        height: 55vw;
        padding-top: 2em;
        font-size: 3.5em;
        margin: auto;
        text-align: center;
    }
    #contenedor-enlaces li {
        height: 70vh;
        font-size: 1.5em;
    }
    form {
        width: 85%;
        margin:auto;
        padding: 0.7em;
        font-size: 1.4em;
        background-color: rgba(66, 66, 66, 0.63);
        color: white;
    }
    input {
        font-size: 0.9em;
        margin: auto;
    }
    #lista {
        font-size: 0.8em;
    }
    textarea {
        font-size: 1em;
        margin: auto;
    }
    .fanarts {
        padding: 5em;
        margin: auto;
        justify-content: center;
    }
    
    fieldset input {
        text-align: center;

    }

/*---FIN CSS 768PX---*/


/*---CSS 1024px---*/
@media screen and (min-width: 1024px) {

    #historia {
        column-count: 3; 
    }
    #contenedor-menu img {
        display: none;
    }
    #contenedor-menu #contenedor-enlaces {
        height: 5em;
        display: flex;
        justify-content: space-evenly;
    }
    table{
        text-align: center;
        font-size: 2em;
     } 
    
    .tablaencabezados, tr{
        display: table-row;
    } 
    td:nth-child(odd)::before, td:nth-child(even)::before{
        display: none;   
    }
    th:nth-child(odd)::before, th:nth-child(even)::before{
        display: none;    
    }
    #portada {
        display: table-row;
    }

    #sectiongaleria {
        
    }
    .fanarts {
        
        display: flex;
        flex-wrap: nowrap;
    }
}

/*---FIN CSS 1024PX---*/

/*---CSS 1440px---*/
/*---FIN CSS 1440PX---*/
}